@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Mobile */
article {
    display: flex;
   flex-wrap: wrap; 
  }
  
  article > * {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    font-size: 1rem;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(0, 0, 0);
    
    
  }
  

  p{
    display: inline-block;

  }
  nav {
    background-color: #231A29;
    height: 80px;
     
 
   

  }
  nav a {
    color: #654A75;
    font-size:1.5 em;
    text-decoration: bold;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }

  footer {
    display:flex;
    text-align:left;
    position: fixed;
    bottom: 0px;
    height:5%;
    align-items: flex-end; 
    color: rgb(16, 15, 15);
    background: #ffffff;
  }


  header {
    
    background-color: rgb(44, 37, 44);
    font-size:3em;
    color: white;

  }
  
  main {
    /* display:none; */
    /* background-color: #231A29;  */
    height: 100%;
    color: white;
  }
  
  #feature-4 {
    /* align-items:flex-end; */
   order: 7; 
    /* background-color: #553b63; */
  }
  
  #feature-1 {
    display:none;
    background: lightblue url("Images2/patterns4.jpg") no-repeat fixed center; 
    order: 1 ;
    /* background-color: #654A75; */
  }
  
  #feature-2 {
    display:none;
     background-color: white;
     order: 3 ;
     background: purple url("Images2/pattern7.jpg") no-repeat fixed center; 
    /* background-color: rgb(41, 4, 57);  */
  }
  
  #feature-3 {
    
    /* background: lightblue url("Images2/pattern7.jpg") no-repeat fixed center;  */
    display:none;
   order: 5 ;
    /* background-color:#2C2033;  */
  }
 

  
  
  #Text-1 {
     flex-direction:column; 
    justify-content: flex-start;
    align-items:center;
    /* flex-wrap:wrap;  */
    order: 2 ;
    font-size: 1.5em;
     /* height: 20vw;   */
     /* margin:2.5em; */
    color:black;
    background-color: white;
   
  }
  
  #Text-2 {
    display:none;
    justify-content: baseline;
    align-items: Top;
    order: 4 ;
    color: black;
    background-color:white;
   
  }
  
  #Text-3 {
    display:none;
    /* justify-content: baseline; */
    /* align-items: left; */
    vertical-align:text-top;
    order: 6 ;
    color: black;
    background-color:white;
   
  }
  #Text-4 {
    display:none;
   order: 8 ;
    color: white;
    background-color: #422352;
   
  }
  
  .UlistA {
    
    list-style-type: none; 
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  
 
  #resume{
    text-decoration: none;
    color:#8646ac;
  }

  #resume:hover {
    text-decoration: none;
    color:#654A75;
  }
  #resume:visited{
    text-decoration: none;
    color:#2C2033
  }
  #resume:active{
    text-decoration: none;
    color:#451e5c
  }
  .listA {
      display: inline; 
      
  }

  .listB {
    display: inline-block; 
    font-size: .8em; 
   }

   .listB img{
    display: block; 
    
   }

   .listC {
    display: block; 
    font-size: 1.5em; 
   }

  .UlistB {
    
     /* flex-direction:column;  */
    
    
    text-align:left;
    
    margin:1em;
    padding: 0em;
  }

  [id^="feature-"] img{ 
    /* width: 50%; */
    height: 20vw;
    border: 1px solid;
    /* border-radius: 10%; */
  }

  img{
    /* background-color: #231A29; */
  }

  .triangle {
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-right: 7rem solid  #2b032a;
    border-bottom: 3rem solid transparent;
    
  }

  #SecondTri {
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-left: 7rem solid #2b032a;
    border-bottom: 3rem solid transparent;
   
  }

 

  .circle{

    position:relative;
    border-radius: 50%;
    border: 2vw solid transparent;
    background: rgb(69, 62, 70);
    z-index:11;
    /* background: lightblue url("Images/IMG_0934.JPG") no-repeat fixed center;  */
sf
  }

  .circle img{
   height:6rem;
   
  }
  
  main {order:9;}
  footer{order:10;}
  
  /* Tablet - not really needed as design is the same*/
  /* @media only screen and (min-width: 401px) and (max-width: 960px) { */
     /* body > article > section >img {  */
        /* width: 20%;  */
        /* height: 40vw;  */
       
       /* color:black; */
      /* margin-left: 130px ; */
      
     /* } */

     /* header {color:black;}  */
   
  /* } */
  
  /* Desktop */
   @media only screen and (min-width: 600px) { 
    /* section[id^="feature-"] { */
      /* flex:1; */
      /* width: 20%; */
      /* height:20vw; */
      /* flex:1;    */
     /* } */
  
      
     #feature-2{display:flex;}
     #feature-3{display:flex;align-items:center;}
     /* header {color:bwhit;} */
  

    section[id^="Text-"] {
        /* display: none; */
        width: 100%;/* flex:1; */
        height:20vw;
        /*flex: 1;  */
       
        color:black;
       }
     
      #Text-1{display:flex;color:black;background-color:#ffffff;}
      #Text-2{display:flex;align-items:center;color:black;background-color:#ffffff;}
      #Text-3{display:flex;align-items:center;color:black;background-color:#ffffff;}
      #Text-4{display:flex;align-items:center;color:black;background-color:#ffffff;}
     
      /* Text-4{background-color:#ffffff;} */
      /* #Text-4{background-color:#ffffff;} */
      
        [id^="feature-"] {
        /* display: none; */
        width: 100%;/* flex:1; */
        height:20vw;
        /*flex: 1;  */
        
       }
  
     
  
  }